/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2017, 15:59:01
    Author     : Lucas Hort
*/


.titulo{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.listar-conta a{
    margin-left:20px;
    font-size: 20px;
}


.btn:hover, .btn:active:focus,.btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
 border-color: #ffe6e6; /*set the color you want here*/
}

